html
	head
		title Listagem de Produtos
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css")
		body
		div
		div
		nav.navbar.navbar-inverse(role='navigation' style='padding-left:130px;')
			ul.nav.navbar-nav
				li
					a(href='/')
						| Listar Produtos
				li
					a(href='/produtos') Adicionar Produto
	br
	.container
		block content
		br
		hr
		footer
			p Copyright &copy; 2019
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js")
	script(src='/js/main.js')
